<html>
    <body>
        <form action="/api/v1/likes?latitude=41.375395&longitude=2.170624&photoKey=-Kd6Vw2VM5J4dwfrCUR-" method="post">
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>