<html>
    <body>
        <form action="/api/v1/likes?latitude=41.375395&longitude=2.170624&photoKey=-Kd6yDbCC8h7WCRiUREL&idToken=eyJhbGciOiJSUzI1NiIsImtpZCI6Ijg5ZTNlMWUzZmVmZjg0YmIyYzBjNWFkYTM4MzNlN2Q0YjQ4YWZkNGQifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vZWZpbWVydW0tNDg2MTgiLCJwcm92aWRlcl9pZCI6ImFub255bW91cyIsImF1ZCI6ImVmaW1lcnVtLTQ4NjE4IiwiYXV0aF90aW1lIjoxNDg3MjAzODg2LCJ1c2VyX2lkIjoidzRWaGJVTkVtVFptRjFlQkc0eXBQTk9YNnRoMiIsInN1YiI6Inc0VmhiVU5FbVRabUYxZUJHNHlwUE5PWDZ0aDIiLCJpYXQiOjE0ODcyNjU3OTksImV4cCI6MTQ4NzI2OTM5OSwiZmlyZWJhc2UiOnsiaWRlbnRpdGllcyI6e30sInNpZ25faW5fcHJvdmlkZXIiOiJhbm9ueW1vdXMifX0.QvmAnA2e9GWUrqMkFXBcVCWOsyj7LHCX_ZW5dD73RxXpZv48qvo6Pkvkl_4QYW1DHt4OodVMJZ9_769SaAJWZ85vfiALE3jv4zshdGveUsJgI9nayTkm0vtsZcGTDjL4rDUO6-UHxf9PRIfGeZJmJCpHeOSjTP_RsKsQhorCQ7zzW4CAeyMHmwinfiJSElvv-VOy_DEmO50hb3Xg_MS-Xg6UKBoGu1wNip-MV1IWLYQd7CMTkts2DR7OhaiJnt41sxtDsJISg9gyiLN-6rVb7DkGHuKnOlvZNeYYOy8XqPCeGxGFYCfN_buHJCnA5vjySNqiVB36rOev1zpRTx0p0A" method="post">
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>