<html>
    <body>
        <form action="/api/v1/photos" method="post" enctype="multipart/form-data">
            <input type="file" name="photoImg" />
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>