<html>
    <body>
        <form action="/api/v1/photos?latitude=41.375395&longitude=2.170624&idToken=eyJhbGciOiJSUzI1NiIsImtpZCI6IjA2Y2M2MzJlYmYzZDQwZDg3OTgzOWZlNDRhZjRjZGRkZjZiNTZjNTcifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vZWZpbWVydW0tNDg2MTgiLCJhdWQiOiJlZmltZXJ1bS00ODYxOCIsImF1dGhfdGltZSI6MTQ4NzYwMzM0OCwidXNlcl9pZCI6Ik0xcklDNGw2QUxad1BTczNheWVjc2M0eERlSzIiLCJzdWIiOiJNMXJJQzRsNkFMWndQU3MzYXllY3NjNHhEZUsyIiwiaWF0IjoxNDg3NjIyNTExLCJleHAiOjE0ODc2MjYxMTEsImVtYWlsIjoib2xhZkBkaXNuZXkuY29tIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJmaXJlYmFzZSI6eyJpZGVudGl0aWVzIjp7ImVtYWlsIjpbIm9sYWZAZGlzbmV5LmNvbSJdfSwic2lnbl9pbl9wcm92aWRlciI6InBhc3N3b3JkIn19.T-OyVLmaHhw1GqfiKmOanzC0WybhEHkuwDZ8BDOMhfsFlv9llB-Kb5ZJGbDIf7fyu8yFC4rvR8OhQ2662upKk6aCMHp38M70232HFzCLHL0exmES3Rg4DN7WI6tUCO6sjPILn1qxXRiVY1xCDjVq0IjBaZph6pQ4nUtNIhOHLPp_7QKGNgobZhGNY9Y8BRoYmcqnofXuvkB2OutgWNQP5vjPS8LOdlhvluv2F9d4UJk9Z7HOYLZ6gRL94AxgI6AKfL65ZsYJNJAtY2J2pU0M-oi4tqZLDu8WjPsC9njVF5sE50A3GZYEUUKXHloGcToCHC-ilzgodexxfzcBGzPp5w" method="post" enctype="multipart/form-data">
            <input type="file" name="photoImg" />
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>