<html>
    <body>
        <form action="/api/v1/photos?latitude=41.375395&longitude=2.170624&uid=CCq864Wku8damv2C5TaZs4s5cpz2&test=true" method="post" enctype="multipart/form-data">
            <input type="file" name="photoImg" />
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>