<html xmlns="http://www.w3.org/1999/html">
<body>
<form action="/api/v1/favoriteLabel" method="post">
    label: <input type="text" name="label" value="vampires"/><br/>
    lang: <input type="text" name="lang" value="EN"/><br/>
    uid: <input type="text" name="uid" value="CCq864Wku8damv2C5TaZs4s5cpz2"/><br/>
    test: <input type="text" name="test" value="true"/><br/>
    <input type="submit" name="submit" value="submit"/>
</form>
</body>
</html>