<html>
    <body>
        <form action="/api/v1/likes?latitude=10.4091034&longitude=-66.8839834&photoKey=-Ke4CyzCdH5tmGXkKa8T&uid=EV0WzMJvkEPXKIx0smdygkXnC3w2&test=true" method="post">
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>