<html>
    <body>
        <form action="/api/v1/favoriteLabel?label=vampires&lang=EN&uid=CCq864Wku8damv2C5TaZs4s5cpz2&test=true" method="delete">
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>