<html>
<body>
<form action="/api/v1/dynamicLinks" method="post">
    photoKey: <input type="text" name="photoKey" value="-KdrosCdmBuhGZAc3Pxp"/><br/>
    <input type="submit" name="submit" value="submit"/>
</form>
</body>
</html>