<html xmlns="http://www.w3.org/1999/html">
<body>
<form action="/api/v1/reportPhoto" method="post">
    report code:
    <select name="reportCode">
        <option value="adult">Adult</option>
        <option value="spoof">Spoof</option>
        <option value="medical">Medical</option>
        <option value="violence">Violence</option>
        <option value="other">Violence</option>
    </select><br/>
    photo key: <input type="text" name="photoKey" value="-Kenul0i80ubW2_CflS7"/><br/>
    uid: <input type="text" name="uid" value="fXoii57NgBY1QPXh4XWAsu9l2Tx1"/><br/>
    test: <input type="text" name="test" value="true"/><br/>
    <input type="submit" name="submit" value="submit"/>
</form>
</body>
</html>